<div class="container">

  {{!-- title --}}
  <h1 class="title">你想對誰說幹話?</h1>

  <form method="POST" id="form">
    {{!-- area for selection--}}
    <div class="selection-container ">

      {{!-- selection one --}}
      <div class="selection d-flex flex-column align-items-center">
        {{!-- avatar --}}
        <div class="avatar-container">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="">
        </div>
        {{!-- radio button --}}
        <div class="button-container">
          <input type="radio" id="engineer" name="selection" value="engineer" {{#checkRadio target 'engineer' }}
            {{/checkRadio}}>
          <label for="engineer">工程師</label>
        </div>

      </div>


      {{!-- selection two --}}
      <div class="selection d-flex flex-column align-items-center">
        {{!-- avatar --}}
        <div class="avatar-container">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="">
        </div>
        {{!-- radio button --}}
        <div class="button-container">
          <input type="radio" id="designer" name="selection" value="designer" {{#checkRadio target "designer" }}
            {{/checkRadio}}>
          <label for="designer">設計師</label>
        </div>

      </div>

      {{!-- selection three --}}
      <div class="selection d-flex flex-column align-items-center">
        {{!-- avatar --}}
        <div class="avatar-container">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="">
        </div>
        {{!-- radio button --}}
        <div class="button-container">
          <input type="radio" id="entrepreneur" name="selection" value="entrepreneur" {{#checkRadio
            target "entrepreneur" }} {{/checkRadio}}>
          <label for="entrepreneur">創業家</label>
        </div>
      </div>

    </div>


    {{!-- chat generator --}}
    <div class="generator-container d-flex">

      <button class="btn btn-info" id="submit-button" type="submit">產生幹話</button>
      <div class='random-quote'>
        {{quote}}
      </div>


    </div>

  </form>



</div>